@charset "UTF-8";

@font-face {
    font-family: print;
    src: url('../fonts/segoe print.ttf')
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    //清除主页面滚动条
    scrollbar-width: none;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: white;
    font-family: sans-serif;
    background-color: rgb(34, 39, 56);

    //背景星星
    #stars {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        pointer-events: none;
        z-index: 10086;
    }

    //页头
    header {
        position: fixed;
        top: 0;
        width: 100%;
        height: 30px;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(34, 39, 56);
        z-index: 1000;

        //logo
        .website-name {
            margin-left: 5px;
            font-size: large;
            font-family: print, sans-serif;
            animation: 12s changeColor infinite linear;
        }

        @keyframes changeColor {
            0% {
                color: red;
            }
            12.5% {
                color: orange;
            }
            25% {
                color: yellow;
            }
            37.5% {
                color: green;
            }
            50% {
                color: blue;
            }
            62.5% {
                color: indigo;
            }
            75% {
                color: purple;
            }
            87.5% {
                color: grey;
            }
            100% {
                color: red;
            }
        }

        //导航链接
        nav {
            margin-right: 5px;

            ul {
                padding: 0;
                list-style: none;
                display: inline;

                li {
                    display: inline;
                    font-size: small;
                    margin: 0;

                    a {
                        text-decoration: none;
                        color: #a692ff;
                        transition: 1.2s;

                        &:hover {
                            text-decoration: none;
                            color: orangered;
                        }
                    }
                }
            }
        }
    }

    //Pjax容器
    .pjax-container {
        height: auto;
        margin: 30px auto 80px;

        //浮动清除
        &:after {
            content: '';
            display: block;
            clear: both;
        }

        main, aside {
            float: left;
            padding: 15px;
        }

        //主内容区
        main {
            position: relative;
            right: 0;
            width: 100%;
            height: auto;
            //background-color: #1E9FFF;
            transition: 1s ease-in-out;

            hr {
                background-color: lightcoral;
                border: lightcoral 1px solid;
            }

            //文章
            article {
                position: relative;
                padding: 0 15px;
                width: 100%;
                height: auto;
                color: #00faf0;

                ul {
                    list-style: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="20" height="20"><path d="M439.456 989.86666663l-59.744-59.744L563.168 746.66666663l-183.456-183.456L439.456 503.46666663l243.2 243.2z" fill="tomato"></path></svg>');

                    p {
                        color: #00faf0;
                    }
                }

                a {
                    text-decoration: none;
                    color: #fff600;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                img {
                    opacity: 0.75;
                    max-width: 100%;
                    border: 1px solid rgba(255, 255, 255, 0.5);
                    padding: 3px;
                }

                h1 {
                    position: sticky;
                    top: 30px;
                    display: block;
                    background-color: rgb(34, 39, 56);
                    counter-reset: h2;
                    text-align: center;
                    font-size: 28px;
                    color: #b71540;
                    font-weight: bold;
                    z-index: 666;
                }

                h2 {
                    counter-reset: h3;
                    font-size: 22px;
                    color: #e58e26;
                    font-weight: bold;

                    &:before {
                        counter-increment: h2;
                        content: counter(h2) ".";
                    }
                }

                h3 {
                    font-size: 16px;
                    color: #706fd3;
                    font-weight: bold;

                    &:before {
                        counter-increment: h3;
                        content: counter(h2) "." counter(h3) ".";
                    }
                }

                .article-info {
                    border-bottom: 1px solid #63ff6e;
                    font-size: smaller;
                    color: #63ff6e;
                    opacity: 0.66;
                }

                p {
                    line-height: 24px;

                    strong {
                        color: purple;
                        padding: 0 5px;
                    }

                    > code {
                        padding: 0 5px;
                        color: #d8ffb9;
                        font-size: smaller;
                    }
                }
            }

            //首页列表部分
            section {
                float: left;
                width: 100%;
                padding: 10px 30px;
                //background-color: rgba(228, 228, 228, 0.5);

                > div {
                    position: relative;
                    padding: 5px;
                    border-radius: 6px;
                    font-size: 1.6em;
                    color: red;
                    letter-spacing: 5px;
                    font-weight: normal;

                    > a {
                        position: absolute;
                        bottom: 8px;
                        right: 5px;
                        text-decoration: none;
                        color: #00faf0;
                        letter-spacing: 0;
                        font-size: 0.4em;
                    }
                }

                ul {
                    padding-left: 10px;

                    li {
                        list-style: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="20" height="20"><path d="M439.456 989.86666663l-59.744-59.744L563.168 746.66666663l-183.456-183.456L439.456 503.46666663l243.2 243.2z" fill="greenyellow"></path></svg>');
                        margin-top: 20px;

                        &:hover {
                            list-style: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="20" height="20"><path d="M439.456 989.86666663l-59.744-59.744L563.168 746.66666663l-183.456-183.456L439.456 503.46666663l243.2 243.2z" fill="darkorange"></path></svg>');

                            a {
                                border-bottom: 0;
                                padding-bottom: 3px;
                                color: darkorange;
                                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 4'%3E%3Cpath fill='none' stroke='darkorange' d='M0 3.5c5 0 5-3 10-3s5 3 10 3 5-3 10-3 5 3 10 3'/%3E%3C/svg%3E") repeat-x 0 100%;
                                background-size: 20px auto;
                                text-decoration: none !important;
                                animation: waveMove 1s infinite linear;
                            }
                        }

                        a {
                            font-size: 1.1em;
                            color: greenyellow;
                            text-decoration: none;

                            @keyframes waveMove {
                                0% {
                                    background-position: 0 100%;
                                }
                                100% {
                                    background-position: -20px 100%;
                                }
                            }
                        }
                    }
                }
            }
        }

        main.active {
            right: 240px;
        }

        .content-box {
            position: relative;
            width: 100%;
            height: auto;

            .list-title {
                position: sticky;
                top: 30px;
                background-color: rgb(34, 39, 56);

                h1 {
                    color: orangered;
                    text-align: center;
                    font-weight: normal;
                }

                hr {
                    background-color: #990055;
                    border: #990055 1px solid;
                    margin: 0 15px;
                }
            }

            ul {
                width: 100%;
                margin: auto;
                padding: 0 15px;

                li {
                    list-style: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="20" height="20"><path d="M439.456 989.86666663l-59.744-59.744L563.168 746.66666663l-183.456-183.456L439.456 503.46666663l243.2 243.2z" fill="greenyellow"></path></svg>');
                    margin-top: 20px;

                    &:hover {
                        list-style: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="20" height="20"><path d="M439.456 989.86666663l-59.744-59.744L563.168 746.66666663l-183.456-183.456L439.456 503.46666663l243.2 243.2z" fill="darkorange"></path></svg>');

                        a {
                            border-bottom: 0;
                            padding-bottom: 3px;
                            color: darkorange;
                            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 4'%3E%3Cpath fill='none' stroke='darkorange' d='M0 3.5c5 0 5-3 10-3s5 3 10 3 5-3 10-3 5 3 10 3'/%3E%3C/svg%3E") repeat-x 0 100%;
                            background-size: 20px auto;
                            text-decoration: none !important;
                            animation: waveMove 1s infinite linear;
                        }
                    }

                    span {
                        display: inline-block;
                        width: 60px;
                        background-color: #7b71ff;
                        text-align: center;
                        margin: 0 10px;
                        border-radius: 6px;
                    }

                    a {
                        font-size: 1.1em;
                        color: greenyellow;
                        text-decoration: none;
                    }
                }

                li.time {
                    list-style: none;
                    font-size: 1.3em;
                    font-weight: bold;
                    letter-spacing: 5px;
                    color: #5400c1;
                }
            }
        }

        //侧边按钮
        .aside-btn {
            position: fixed;
            top: 45px;
            right: 15px;
            width: 24px;
            height: 20px;
            z-index: 666;

            .btn-line {
                width: 100%;
                height: 20%;
                transition: 0.3s ease-in-out;
            }

            .btn-line:nth-child(odd) {
                background-color: #9e9e9e;
            }

            .btn-line:nth-child(even) {
                background-color: transparent;
            }

            &.active {
                .btn-line:nth-child(1) {
                    transform: rotate(45deg) translate(20%, 150%);
                }

                .btn-line:nth-child(3) {
                    opacity: 0;
                }

                .btn-line:nth-child(5) {
                    transform: rotate(-45deg) translate(20%, -150%);
                }

            }
        }

        //侧边菜单
        aside {
            position: fixed;
            top: 30px;
            right: -240px;
            width: 240px;
            height: calc(100vh - 30px);
            //background-color: #990055;
            transition: 1s ease-in-out;
            overflow-x: hidden;
            overflow-y: scroll;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                width: 0;
                height: 0;
            }

            .fixed-box {
                margin-top: 30px;

                &.toc {
                    padding: 0 15px;

                    h3 {
                        letter-spacing: 10px;
                        margin-left: 15px;
                    }

                    //文章目录
                    #toc {
                        .nav-list > .active > a, .nav-list > .active > a:hover {
                            color: gold;
                        }

                        .nav-list > li > a {
                            display: block;
                            color: whitesmoke;
                            padding: 2px 5px !important;
                        }

                        .nav > li > a:hover, .nav > li > a:focus {
                            text-decoration: none;
                            color: chartreuse;
                        }
                    }
                }

                //头像
                .head-portrait {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    width: 100%;
                    height: 160px;
                    transition: .5s;
                    //background-color: #6f42c1;

                    &:hover {
                        .logo {
                            .square{
                                background: rgba(0, 0, 0, 0.33);
                            }

                            .black{
                                background: rgba(255, 255, 255, 0.33);
                            }

                            .img-box {
                                transform: scale(0.16);

                                img {
                                    margin-bottom: -4px;
                                    padding: 0;
                                    border-color: transparent;
                                    border-radius: 50%;
                                    animation: rotate2 1.6s infinite linear;
                                }
                            }
                        }

                        /*.logo {
                            position: absolute;
                            bottom: 0;
                            left: 40px;
                            width: 30px;
                            height: 30px;
                            background-color: whitesmoke;
                            border: 1px solid whitesmoke;
                            border-radius: 15%;
                            transform: translate(0, -30px) rotate(-45deg);
                            animation: move 2.5s infinite cubic-bezier(.79, 0, .47, .97);

                            @keyframes move {
                                0% {
                                    transform: translate(0, -30px) rotate(-45deg);
                                }
                                5% {
                                    transform: translate(0, -30px) rotate(-50deg);
                                }
                                20% {
                                    transform: translate(30px, -60px) rotate(47deg);
                                }
                                25% {
                                    transform: translate(30px, -60px) rotate(45deg);
                                }
                                30% {
                                    transform: translate(30px, -60px) rotate(40deg);
                                }
                                45% {
                                    transform: translate(60px, -90px) rotate(137deg);
                                }
                                50% {
                                    transform: translate(60px, -90px) rotate(135deg);
                                }
                                55% {
                                    transform: translate(60px, -90px) rotate(130deg);
                                }
                                70% {
                                    transform: translate(90px, -120px) rotate(217deg);
                                }
                                75% {
                                    transform: translate(90px, -120px) rotate(220deg);
                                }
                                100% {
                                    transform: translate(0, -30px) rotate(-225deg);
                                }
                            }

                            img {
                                padding: 1px;
                            }
                        }*/
                    }

                    .logo {
                        position: relative;
                        width: 160px;
                        height: 160px;
                        padding: 10px;
                        //background-color: rgba(255,255,255,0.45);

                        .square{
                            height: 94%;
                            width: 94%;
                            background: transparent;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            margin: -47% 0 0 -47%;
                            transition: .8s;
                        }

                        .black{
                            background: transparent;
                            animation: rotate 10s infinite linear;
                            transition: 1.6s;
                        }

                        @keyframes rotate{
                            0%{ transform: rotate(0deg); }
                            100%{ transform: rotate(360deg); }
                        }

                        .img-box {
                            transition: 1.6s;

                            img {
                                border-radius: 50%;
                                padding: 10px;
                                border: 3px double rgb(255, 255, 255);
                                width: 100%;
                                height: 100%;
                                transition: .36s;
                            }
                        }

                        @keyframes rotate2{
                            0%{ transform: rotate(0deg); }
                            100%{ transform: rotate(360deg); }
                        }
                    }
                }

                //导航菜单
                ul.link {
                    display: flex;
                    justify-content: space-between;
                    list-style: none;
                    padding: 0;
                    margin-top: 36px;

                    li {
                        width: 36px;
                        height: 36px;

                        svg {
                            width: 100%;
                            height: 100%;
                        }

                        &:hover {
                            animation: dance .6s infinite linear;
                        }

                        @keyframes dance {
                            0% {
                                transform: translateY(0);
                            }
                            25% {
                                transform: translateY(-8px);
                            }
                            50% {
                                transform: translateY(-16px) scale(1.2, 0.9);
                            }
                            75% {
                                transform: translateY(-8px);
                            }
                            100% {
                                transform: translateY(0);
                            }
                        }
                    }
                }

                ul.tag {
                    margin-top: 30px;
                    padding: 0;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    list-style: none;

                    li {
                        background-color: #990055;
                        border-radius: 4px;
                        padding: 0 5px;
                        margin-top: 8px;

                        &:hover {
                            transition: .5s;
                            transform: scale(1.15);
                        }

                        a {
                            text-decoration: none;
                            color: white;
                        }

                        &:nth-child(1) {
                            background-color: #e67e22
                        }

                        &:nth-child(2) {
                            background-color: #27ae60
                        }

                        &:nth-child(3) {
                            background-color: #ff6b6b
                        }

                        &:nth-child(4) {
                            background-color: #4c92a7
                        }

                        &:nth-child(5) {
                            background-color: #f368e0
                        }

                        &:nth-child(6) {
                            background-color: #546de5
                        }

                        &:nth-child(7) {
                            background-color: #c44569
                        }

                        &:nth-child(8) {
                            background-color: #e15f41
                        }

                        &:nth-child(9) {
                            background-color: #574b90
                        }
                    }
                }
            }
        }

        aside.active {
            right: 0;
        }
    }
}

@media (min-width: 768px) {
    body {
        header {
            .website-name {
                margin-left: 30px;
            }

            nav {
                ul {
                    li {
                        margin: 0 15px;
                    }
                }
            }
        }

        .pjax-container {
            width: 750px;

            main {
                width: 100%;

                section {
                    width: 50%;
                }
            }

            main.active {
                right: calc(100vw / 2 - 750px / 2 + 240px);
            }

            aside.active {
                right: calc(100% / 2 - 750px / 2);
            }

            .content-box {
                ul {
                    width: 50%;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    body {
        header {
            nav {
                margin-right: 30px;
            }
        }

        .pjax-container {
            width: 970px;

            main {
                width: 730px;

                section {
                    padding-top: 60px;
                }
            }

            .aside-btn {
                display: none;
            }

            aside {
                right: calc(100% / 2 - 970px / 2);

                .fixed-box {
                    margin-top: 60px;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    body {
        .pjax-container {
            width: 1170px;

            main {
                width: 930px;
            }

            aside {
                right: calc(100% / 2 - 1170px / 2);
            }
        }
    }
}

/*layer弹层*/
.layer-skin {
    background-color: #303952 !important;
}
