@charset "UTF-8";

@font-face {
    font-family: print;
    src: url('../fonts/segoe print.ttf')
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    //清除主页面滚动条
    scrollbar-width: none;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: white;
    letter-spacing: .4px;
    font-family: "Source Sans Pro", "Hiragino Sans GB", "Microsoft Yahei", SimSun, Helvetica, Arial, monospace, Sans-serif;
    background-color: rgb(34, 39, 56);

    //背景星星
    #stars {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        pointer-events: none;
        z-index: 10086;
    }

    //页头
    header {
        position: fixed;
        top: 0;
        width: 100%;
        height: 30px;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(34, 39, 56);
        z-index: 1000;

        //logo
        .website-name {
            margin-left: 5px;
            font-size: large;
            font-family: print, sans-serif;
            animation: 12s changeColor infinite linear;
        }

        @keyframes changeColor {
            0% {
                color: red;
            }
            12.5% {
                color: orange;
            }
            25% {
                color: yellow;
            }
            37.5% {
                color: #00ff00;
            }
            50% {
                color: #0000ff;
            }
            62.5% {
                color: #6400ff;
            }
            75% {
                color: #ff00c8;
            }
            87.5% {
                color: #c1c1c1;
            }
            100% {
                color: red;
            }
        }

        //导航链接
        nav {
            margin-right: 5px;

            ul {
                padding: 0;
                list-style: none;
                display: inline;

                li {
                    display: inline;
                    font-size: small;
                    margin: 0;

                    a {
                        text-decoration: none;
                        color: #a692ff;
                        transition: 1.2s;

                        &:hover {
                            text-decoration: none;
                            color: orangered;
                        }
                    }
                }
            }
        }
    }

    //Pjax容器
    .pjax-container {
        height: auto;
        margin: 30px auto 80px;

        //浮动清除
        &:after {
            content: '';
            display: block;
            clear: both;
        }

        main, aside {
            float: left;
            padding: 15px;
        }

        //主内容区
        main {
            position: relative;
            right: 0;
            width: 100%;
            height: auto;
            //background-color: #1E9FFF;
            transition: 1s ease-in-out;

            hr {
                background-color: lightcoral;
                border: lightcoral 1px solid;
            }

            //文章
            article {
                position: relative;
                padding: 0 15px;
                width: 100%;
                height: auto;
                color: #00faf0;

                .scroll-x {
                    overflow-x: auto;
                    scrollbar-width: thin;
                    scrollbar-color: rgba(169, 169, 169, 0.5) transparent;

                    &::-webkit-scrollbar {
                        width: 5px;
                        height: 5px;
                        background-color: transparent;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: rgba(169, 169, 169, 0.5);
                    }
                }

                ol {
                    color: yellowgreen;
                    line-height: 2em;

                    li {
                        > p:not(:first-child) {
                            color: #00faf0;
                        }
                    }
                }

                ul {
                    list-style: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="20" height="20"><path d="M439.456 989.86666663l-59.744-59.744L563.168 746.66666663l-183.456-183.456L439.456 503.46666663l243.2 243.2z" fill="yellowgreen"></path></svg>');
                    color: yellowgreen;
                    line-height: 2em;

                    li {
                        > p:not(:first-child) {
                            color: #00faf0;
                        }
                    }
                }

                a {
                    text-decoration: none;
                    color: #fff600;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                table {
                    border-collapse: collapse;
                    min-width: 100%;
                    border: 2px grey solid;
                    background: rgba(0, 0, 0, 0.25);
                    color: white;
                    opacity: .8;

                    tr, th {
                        border: 2px grey solid;

                        td, th {
                            border: 2px grey solid;
                            padding: 5px;
                            white-space: nowrap;
                            font-size: .9em;
                            line-height: 1.4em !important;
                        }
                    }

                    > tr:nth-child(even) {
                        background-color: rgba(0, 56, 57, 0.25);
                    }

                    > tr:hover {
                        background-color: rgba(48, 39, 80, 0.5);
                    }

                    thead {
                        tr {
                            background-color: rgba(71, 0, 87, 0.5);
                        }
                    }

                    tbody {
                        tr:nth-child(even) {
                            background-color: rgba(0, 56, 57, 0.25);
                        }

                        tr:hover {
                            background-color: rgba(48, 39, 80, 0.5);
                        }
                    }
                }

                blockquote {
                    border-left: darkgrey 5px solid;
                    background-color: rgba(255, 255, 255, 0.07);
                    margin: 15px 0;
                    padding: 0 15px;
                    color: white;
                    font-style: italic;
                }

                img {
                    opacity: 0.85;
                    max-width: 100%;
                    border: 1px solid rgba(255, 255, 255, 0.5);
                    padding: 3px;
                }

                h1 {
                    position: sticky;
                    top: 30px;
                    display: -webkit-box;
                    background-color: rgb(34, 39, 56);
                    counter-reset: h2;
                    text-align: center;
                    color: #b71540;
                    font-weight: bold;
                    z-index: 666;
                    max-height: 76px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }

                h2 {
                    counter-reset: h3;
                    color: #e58e26;
                    font-weight: bold;

                    &:before {
                        counter-increment: h2;
                        content: counter(h2) ". ";
                    }
                }

                h3 {
                    counter-reset: h4;
                    color: #e58e26;
                    font-weight: bold;

                    &:before {
                        counter-increment: h3;
                        content: counter(h2) "." counter(h3) ". ";
                    }
                }

                h4 {
                    color: #e58e26;
                    font-weight: bold;

                    &:before {
                        counter-increment: h4;
                        content: counter(h2) "." counter(h3) "." counter(h4) ". ";
                    }
                }

                .article-info {
                    border-bottom: 1px solid #63ff6e;
                    font-size: smaller;
                    color: #63ff6e;
                    opacity: 0.8;
                }

                p {
                    line-height: 2em;

                    > code {
                        padding: 0 5px;
                        color: #d8ffb9;
                        font-size: smaller;
                    }
                }

                strong {
                    color: #bc00bc;
                    padding: 0 5px;
                    font-weight: normal;
                }
            }

            //首页列表部分
            section {
                float: left;
                width: 100%;
                padding: 10px;
                //background-color: rgba(228, 228, 228, 0.5);

                > div {
                    position: relative;
                    padding: 5px;
                    border-radius: 6px;
                    font-size: 1.6em;
                    color: red;
                    letter-spacing: 5px;
                    font-weight: normal;

                    > a {
                        position: absolute;
                        bottom: 8px;
                        right: 5px;
                        text-decoration: none;
                        color: #00faf0;
                        letter-spacing: 0;
                        font-size: 0.4em;
                    }
                }

                ul {
                    padding-left: 0;

                    li {
                        position: relative;
                        list-style: none;
                        margin-top: 20px;
                        width: 100%;
                        height: auto;
                        background-color: rgba(169, 169, 169, 0.25);
                        border-left: 5px solid greenyellow;

                        > span {
                            position: absolute;
                            top: -6px;
                            right: 8px;
                            background-color: rgb(88, 0, 255);
                            padding: 0 4px;
                            border-radius: 4px;
                            font-size: smaller;
                        }

                        &:hover {
                            transform: scale(1.02);
                            box-shadow: #C4E538 0 0 10px;
                        }

                        > a {
                            display: block;
                            padding: 6px 12px;
                            max-width: 100%;
                            color: whitesmoke;
                            text-decoration: none;
                            cursor: pointer;

                            @keyframes waveMove {
                                0% {
                                    background-position: 0 100%;
                                }
                                100% {
                                    background-position: -20px 100%;
                                }
                            }
                        }
                    }
                }
            }
        }

        main.active {
            right: 240px;
        }

        .content-box {
            position: relative;
            width: 100%;
            height: auto;

            hr {
                background-color: transparent;
                border: 0 transparent;
                border-top: 1px solid dimgrey;
            }

            .classify {
                margin: 0;
                padding: 1px 15px;
                width: 100%;
                height: auto;

                > h3 {
                    letter-spacing: 6px;
                    color: #ff6400;
                    padding: 15px 0;
                    font-weight: normal;
                    border-bottom: #d8ffb9 1px solid;
                }

                > .flex-box {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;

                    > a {
                        margin: 6px;
                        padding-right: 15px;
                        width: calc(100% - 6px * 2);
                        height: 50px;
                        background-color: rgba(169, 169, 169, 0.25);
                        color: whitesmoke;
                        text-decoration: none;
                        border-left: greenyellow 5px solid;

                        &:hover {
                            box-shadow: #C4E538 0 0 10px;
                            transform: scale(1.01);
                        }

                        img, svg {
                            padding: 8px;
                            width: 50px;
                            height: 50px;
                            float: left;
                            margin: 0 10px 0 0;
                        }

                        p {
                            height: 25px;
                            line-height: 25px;
                            margin: 0;
                            padding: 0;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }

                        &:after {
                            content: '';
                            display: block;
                            clear: both;
                        }
                    }
                }
            }

            .friend-links, .leave-comments {
                float: left;
                margin: 0;
                padding: 15px;
                width: 100%;
                height: auto;
            }

            .friend-links {
                > section {
                    padding: 0;
                    margin: 0;
                    width: 100%;
                    height: auto;

                    a {
                        display: block;
                        width: 100%;
                        height: 50px;
                        margin: 10px 0;
                        padding: 0;
                        border-left: 5px solid greenyellow;
                        background-color: rgba(169, 169, 169, 0.25);
                        opacity: 0.8;
                        text-decoration: none;
                        color: ghostwhite;

                        &:hover {
                            box-shadow: lightskyblue 0 0 10px;
                        }

                        p {
                            width: calc(100% - 70px);
                            height: 25px;
                            margin: 0;
                            padding: 0;
                            line-height: 25px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }

                        img {
                            float: left;
                            width: 50px;
                            height: 50px;
                            margin-right: 20px;
                        }

                        &:after {
                            content: '';
                            display: block;
                            clear: both;
                        }
                    }
                }
            }

            .introduction {
                margin: 0 auto;
                padding: 0 15px;
                // background-color: aquamarine;
                max-width: 640px;

                > img {
                    display: block;
                    width: 160px;
                    height: 160px;
                    margin: 30px auto;
                    padding: 10px;
                    border-radius: 50%;
                    border: 3px solid rgba(245, 245, 245, 0.5);
                }

                * > table {
                    min-width: 100%;

                    tr {
                        vertical-align: top;

                        td {
                            line-height: 24px;
                            padding-top: 5px;

                            &:first-child {
                                width: 20%;
                            }
                        }
                    }
                }
            }

            &:after {
                content: '';
                display: block;
                clear: both;
            }

            .list-title {
                position: sticky;
                top: 30px;
                background-color: rgb(34, 39, 56);

                h1 {
                    color: orangered;
                    text-align: center;
                    font-weight: normal;
                }

                hr {
                    background-color: #990055;
                    border: #990055 1px solid;
                    margin: 0 15px;
                }
            }

            ul {
                width: 100%;
                margin: auto;
                padding: 0 30px;

                li {
                    //list-style: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="20" height="20"><path d="M439.456 989.86666663l-59.744-59.744L563.168 746.66666663l-183.456-183.456L439.456 503.46666663l243.2 243.2z" fill="greenyellow"></path></svg>');
                    list-style: none;
                    margin-top: 15px;
                    //margin-left: 20px;

                    &:hover {
                        //list-style: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="20" height="20"><path d="M439.456 989.86666663l-59.744-59.744L563.168 746.66666663l-183.456-183.456L439.456 503.46666663l243.2 243.2z" fill="darkorange"></path></svg>');

                        p {
                            span {
                                background-color: #aa5c00;
                            }

                            a {
                                color: darkorange;
                                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 4'%3E%3Cpath fill='none' stroke='darkorange' d='M0 3.5c5 0 5-3 10-3s5 3 10 3 5-3 10-3 5 3 10 3'/%3E%3C/svg%3E") repeat-x 0 100%;
                                background-size: 20px auto;
                                text-decoration: none !important;
                                animation: waveMove 1s infinite linear;
                            }
                        }
                    }

                    p {
                        display: flex;
                        margin: 0;
                        padding: 0;

                        span {
                            flex-shrink: 0;
                            display: inline-block;
                            width: 60px;
                            height: 18px;
                            background-color: #7b71ff;
                            text-align: center;
                            margin: 0 10px 0 0;
                            border-radius: 6px;
                        }

                        a {
                            display: inline-block;
                            font-size: 1.1em;
                            line-height: 1.5em;
                            color: greenyellow;
                            text-decoration: none;
                            border-bottom: 0;
                            padding-bottom: 3px;
                        }
                    }

                }

                li.time {
                    margin-left: 0;
                    list-style: none;
                    font-size: 1.3em;
                    font-weight: bold;
                    letter-spacing: 5px;
                    color: #feca57;
                }
            }
        }

        //侧边按钮
        .aside-btn {
            position: fixed;
            top: 45px;
            right: 15px;
            width: 24px;
            height: 20px;
            z-index: 666;
            opacity: 0.33;

            .btn-line {
                width: 100%;
                height: 20%;
                transition: 0.3s ease-in-out;
                border-radius: 10% / 50%;
            }

            .btn-line:nth-child(odd) {
                background-color: #9e9e9e;
            }

            .btn-line:nth-child(even) {
                background-color: transparent;
            }

            &.active {
                .btn-line:nth-child(1) {
                    transform: rotate(45deg) translate(20%, 150%);
                }

                .btn-line:nth-child(3) {
                    opacity: 0;
                }

                .btn-line:nth-child(5) {
                    transform: rotate(-45deg) translate(20%, -150%);
                }

            }
        }

        //侧边菜单
        aside {
            position: fixed;
            top: 30px;
            right: -240px;
            width: 240px;
            height: calc(100vh - 30px);
            //background-color: #990055;
            transition: 1s ease-in-out;
            overflow-x: hidden;
            overflow-y: scroll;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                width: 0;
                height: 0;
            }

            .fixed-box {
                margin-top: 30px;

                &.toc {
                    padding: 0 15px;

                    h3 {
                        letter-spacing: 10px;
                        margin-left: 15px;
                    }

                    //文章目录
                    #toc {
                        .nav-list > .active > a, .nav-list > .active > a:hover {
                            color: gold;
                        }

                        .nav-list > li > a {
                            display: block;
                            color: whitesmoke;
                            padding: 2px 5px !important;
                        }

                        .nav > li > a:hover, .nav > li > a:focus {
                            text-decoration: none;
                            color: chartreuse;
                        }
                    }
                }

                //头像
                .head-portrait {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    width: 100%;
                    height: 160px;
                    transition: .5s;
                    //background-color: #6f42c1;

                    &:hover {
                        .logo {
                            opacity: 0.8;

                            .square {
                                background: #222738;
                            }

                            .black {
                                background: #ffffff;
                            }

                            .img-box {
                                transform: scale(0.3);

                                img {
                                    padding: 0;
                                    border-color: transparent;
                                    border-radius: 50%;
                                    animation: rotate2 2.4s infinite linear;
                                }
                            }
                        }
                    }

                    .logo {
                        position: relative;
                        width: 160px;
                        height: 160px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        //background-color: rgba(255,255,255,0.45);

                        .square {
                            height: calc(100% - 4px);
                            width: calc(100% - 4px);
                            background: transparent;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition: .8s;
                            border-radius: 20%;
                        }

                        .black {
                            background: transparent;
                            transition: 2.4s;
                            transform: rotate(15deg);
                            border-radius: 15%;
                            animation: rotate 18s infinite linear;
                        }

                        .black.c {
                            border-radius: 50%;
                        }

                        @keyframes rotate {
                            0% {
                                transform: rotate(0deg);
                            }
                            100% {
                                transform: rotate(360deg);
                            }
                        }

                        .img-box {
                            position: absolute;
                            top: 0;
                            left: 0;
                            transition: .36s;

                            img {
                                border-radius: 50%;
                                padding: 10px;
                                border: 3px double rgb(255, 255, 255);
                                width: 100%;
                                height: 100%;
                                transition: .36s;
                            }
                        }

                        @keyframes rotate2 {
                            0% {
                                transform: rotate(0deg);
                            }
                            100% {
                                transform: rotate(360deg);
                            }
                        }
                    }
                }

                //导航菜单
                ul.link {
                    display: flex;
                    justify-content: space-between;
                    list-style: none;
                    padding: 0;
                    margin-top: 36px;

                    li {
                        width: 36px;
                        height: 36px;

                        svg {
                            width: 100%;
                            height: 100%;
                        }

                        &:hover {
                            animation: dance .6s infinite linear;
                        }

                        @keyframes dance {
                            0% {
                                transform: translateY(0);
                            }
                            25% {
                                transform: translateY(-8px);
                            }
                            50% {
                                transform: translateY(-16px) scale(1.2, 0.9);
                            }
                            75% {
                                transform: translateY(-8px);
                            }
                            100% {
                                transform: translateY(0);
                            }
                        }
                    }
                }

                ul.tag {
                    margin-top: 30px;
                    padding: 0;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    list-style: none;

                    li {
                        background-color: #990055;
                        border-radius: 4px;
                        padding: 0 5px;
                        margin: 6px 0;

                        &:hover {
                            transition: .5s;
                            transform: scale(1.15);
                        }

                        a {
                            text-decoration: none;
                            color: white;
                            font-size: smaller;
                        }

                        &:nth-child(1) {
                            background-color: #e67e22
                        }

                        &:nth-child(2) {
                            background-color: #27ae60
                        }

                        &:nth-child(3) {
                            background-color: #ff6b6b
                        }

                        &:nth-child(4) {
                            background-color: #4c92a7
                        }

                        &:nth-child(5) {
                            background-color: #f368e0
                        }

                        &:nth-child(6) {
                            background-color: #546de5
                        }

                        &:nth-child(7) {
                            background-color: #c44569
                        }

                        &:nth-child(8) {
                            background-color: #e15f41
                        }

                        &:nth-child(9) {
                            background-color: #574b90
                        }

                        &:nth-child(10) {
                            background-color: #c1303a
                        }

                        &:nth-child(11) {
                            background-color: #7d3ac2
                        }

                        &:nth-child(12) {
                            background-color: #3bbf3f
                        }
                    }
                }
            }
        }

        aside.active {
            right: 0;
        }

        .tip {
            color: rgba(164, 164, 164, 0.51) !important;
        }
    }

    #gitalk-container {
        opacity: 0.8;
    }
}

@media (min-width: 768px) {
    body {
        header {
            .website-name {
                margin-left: 30px;
            }

            nav {
                ul {
                    li {
                        margin: 0 15px;
                    }
                }
            }
        }

        .pjax-container {
            width: 750px;

            main {
                width: 100%;

                section {
                    width: 50%;
                    padding: 10px 30px;
                }
            }

            main.active {
                right: calc(100vw / 2 - 750px / 2 + 240px);
            }

            aside.active {
                right: calc(100% / 2 - 750px / 2);
            }

            .content-box {
                ul {
                    width: 50%;
                }

                .friend-links, .leave-comments {
                    width: 50%;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    body {
        header {
            nav {
                margin-right: 30px;
            }
        }

        .pjax-container {
            width: 970px;

            main {
                width: 730px;

                section {
                    padding-top: 30px;
                }
            }

            .aside-btn {
                display: none;
            }

            aside {
                right: calc(100% / 2 - 970px / 2);

                .fixed-box {
                    margin-top: 60px;
                }
            }

            .content-box {
                .classify {
                    .flex-box {
                        > a {
                            width: calc((100% - 6px * 4) / 2);
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    body {
        .pjax-container {
            width: 1170px;

            main {
                width: 930px;
            }

            aside {
                right: calc(100% / 2 - 1170px / 2);
            }
        }
    }
}

/*layer弹层*/
.layer-skin {
    background-color: #303952 !important;
}

/*返回顶部按钮*/
.to-top-btn {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    transition: .6s .4s;
}

.to-top {
    width: 65px;
    height: 90px;
    background-image: url("https://s1.hdslb.com/bfs/static/jinkela/space/asserts/space-to-top.png");
    background-position: -40px -44px;
    transition: .4s steps(6, start);
}