@font-face {
  font-family: print;
  src: url("../fonts/segoe print.ttf"); }
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

html {
  scrollbar-width: none; }
  html::-webkit-scrollbar {
    width: 0;
    height: 0; }

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: white;
  font-family: sans-serif;
  background-color: #222738; }
  body #stars {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 999; }
  body header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222738;
    z-index: 1000; }
    body header .website-name {
      margin-left: 5px;
      font-size: large;
      font-family: print, sans-serif;
      animation: 12s changeColor infinite linear; }
@keyframes changeColor {
  0% {
    color: red; }
  12.5% {
    color: orange; }
  25% {
    color: yellow; }
  37.5% {
    color: green; }
  50% {
    color: blue; }
  62.5% {
    color: indigo; }
  75% {
    color: purple; }
  87.5% {
    color: grey; }
  100% {
    color: red; } }
    body header nav {
      margin-right: 5px; }
      body header nav ul {
        padding: 0;
        list-style: none;
        display: inline; }
        body header nav ul li {
          display: inline;
          font-size: small;
          margin: 0; }
          body header nav ul li a {
            text-decoration: none;
            color: #9980FA;
            transition: 1.2s; }
            body header nav ul li a:hover {
              text-decoration: none;
              color: orangered; }
  body .pjax-container {
    height: auto;
    margin: 30px auto 80px; }
    body .pjax-container:after {
      content: '';
      display: block;
      clear: both; }
    body .pjax-container main, body .pjax-container aside {
      float: left;
      padding: 15px; }
    body .pjax-container main {
      position: relative;
      right: 0;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      height: auto;
      transition: 1s ease-in-out; }
      body .pjax-container main section:first-child {
        width: 100%;
        padding: 0 30px; }
        body .pjax-container main section:first-child span {
          padding: 5px;
          border-radius: 6px;
          font-size: 1.6em;
          color: crimson;
          letter-spacing: 3px;
          font-weight: normal; }
        body .pjax-container main section:first-child ul {
          list-style: circle;
          padding-left: 10px; }
          body .pjax-container main section:first-child ul li {
            margin-top: 20px; }
            body .pjax-container main section:first-child ul li a {
              font-size: 1.1em;
              color: greenyellow;
              text-decoration: none; }
              body .pjax-container main section:first-child ul li a:hover {
                border-bottom: 0;
                padding-bottom: 3px;
                color: darkorange;
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 4'%3E%3Cpath fill='none' stroke='darkorange' d='M0 3.5c5 0 5-3 10-3s5 3 10 3 5-3 10-3 5 3 10 3'/%3E%3C/svg%3E") repeat-x 0 100%;
                background-size: 20px auto;
                text-decoration: none !important;
                animation: waveMove 1s infinite linear; }
@keyframes waveMove {
  0% {
    background-position: 0 100%; }
  100% {
    background-position: -20px 100%; } }
    body .pjax-container main.active {
      right: 240px; }
    body .pjax-container .aside-btn {
      position: fixed;
      top: 45px;
      right: 15px;
      width: 24px;
      height: 20px;
      z-index: 666; }
      body .pjax-container .aside-btn .btn-line {
        width: 100%;
        height: 20%;
        transition: 0.3s ease-in-out; }
      body .pjax-container .aside-btn .btn-line:nth-child(odd) {
        background-color: #9e9e9e; }
      body .pjax-container .aside-btn .btn-line:nth-child(even) {
        background-color: transparent; }
      body .pjax-container .aside-btn.active .btn-line:nth-child(1) {
        transform: rotate(45deg) translate(20%, 150%); }
      body .pjax-container .aside-btn.active .btn-line:nth-child(3) {
        opacity: 0; }
      body .pjax-container .aside-btn.active .btn-line:nth-child(5) {
        transform: rotate(-45deg) translate(20%, -150%); }
    body .pjax-container aside {
      position: fixed;
      top: 30px;
      right: -240px;
      width: 240px;
      height: calc(100vh - 30px);
      transition: 1s ease-in-out;
      overflow-x: hidden;
      overflow-y: scroll;
      scrollbar-width: none; }
      body .pjax-container aside::-webkit-scrollbar {
        width: 0;
        height: 0; }
      body .pjax-container aside .fixed-box {
        margin-top: 30px; }
        body .pjax-container aside .fixed-box .head-portrait {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          width: 100%;
          height: auto; }
@keyframes wave {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.8; }
  100% {
    transform: scale(1.3);
    opacity: 0; } }
          body .pjax-container aside .fixed-box .head-portrait .logo {
            position: relative;
            width: 160px;
            height: 160px;
            padding: 10px;
            border: 1px solid rgba(255, 255, 255, 0.66);
            border-radius: 50%;
            transition: 1s ease-in-out; }
            body .pjax-container aside .fixed-box .head-portrait .logo:after {
              content: "";
              width: 100%;
              height: 100%;
              position: absolute;
              left: 0;
              top: 0;
              border: 1px solid white;
              border-radius: 50%;
              animation: wave 1.5s infinite linear; }
            body .pjax-container aside .fixed-box .head-portrait .logo:hover {
              transform: rotate(-360deg); }
            body .pjax-container aside .fixed-box .head-portrait .logo img {
              width: 100%;
              height: 100%; }
        body .pjax-container aside .fixed-box nav ul {
          display: flex;
          justify-content: space-between;
          list-style: none;
          padding: 0;
          margin-top: 36px; }
          body .pjax-container aside .fixed-box nav ul li {
            width: 36px;
            height: 36px; }
            body .pjax-container aside .fixed-box nav ul li svg {
              width: 100%;
              height: 100%; }
            body .pjax-container aside .fixed-box nav ul li:hover {
              animation: dance .6s infinite linear; }
@keyframes dance {
  0% {
    transform: translateY(0); }
  25% {
    transform: translateY(-8px); }
  50% {
    transform: translateY(-16px) scale(1.2, 0.9); }
  75% {
    transform: translateY(-8px); }
  100% {
    transform: translateY(0); } }
    body .pjax-container aside.active {
      right: 0; }

@media (min-width: 768px) {
  body header .website-name {
    margin-left: 30px; }
  body header nav ul li {
    margin: 0 15px; }
  body .pjax-container {
    width: 750px; }
    body .pjax-container main {
      width: 100%; }
      body .pjax-container main section:first-child {
        width: 50%; }
    body .pjax-container main.active {
      right: calc(100vw / 2 - 750px / 2 + 240px); }
    body .pjax-container aside.active {
      right: calc(100% / 2 - 750px / 2); } }
@media (min-width: 992px) {
  body header nav {
    margin-right: 30px; }
  body .pjax-container {
    width: 970px; }
    body .pjax-container main {
      width: 730px; }
    body .pjax-container .aside-btn {
      display: none; }
    body .pjax-container aside {
      right: calc(100% / 2 - 970px / 2); } }
@media (min-width: 1200px) {
  body .pjax-container {
    width: 1170px; }
    body .pjax-container main {
      width: 930px; }
    body .pjax-container aside {
      right: calc(100% / 2 - 1170px / 2); } }

/*# sourceMappingURL=common.css.map */
